/**
 * Mini Reset
 *=============*/
html {
  font-family: sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, Arial;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
ol,
ul,
li,
a,
button {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  color: green;
  text-decoration: underline;
}

button {
  -webkit-appearance: button;
  background-color: transparent;
  display: block;
  cursor: pointer;
}

/** ===============
* Mini reset end
*/

.btn {
  padding: 10px;
  outline: 0;
  min-width: 100px;
}
header {
  background-color: lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 0 20px;
  color: black;
  text-align: right;
  z-index: 1;
}
#sizingPanel {
  margin: 10px;
}
.storyToEstimate {
  text-align: center;
  margin-top: 50px;
}
.storyToEstimate input,
.storyToEstimate button {
  display: none;
}
.admin .storyToEstimate input {
  display: inline-block;
  margin: 0 auto;
  min-width: 300px;
}
.admin .storyToEstimate button {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 2px 5px;
}
.storyToEstimate h2 {
  height: 30px;
}
.admin .storyToEstimate h2 {
  display: none;
}
.sizes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
}
.sizes .size {
  position: relative;
  display: block;
  text-align: center;
  margin: 20px;
  padding: 30px;
  border: 1px solid black;
  width: 120px;
  height: 120px;
}
.sizes .size p {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.sizes .size button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 0;
  opacity: 0;
}
.sizes .size.selected {
  border-color: green;
  background-color: green;
}
.sizes .size.selected p {
  color: white;
}
.usernamesAndSizes {
  margin: 30px 0;
}
.usernamesAndSizes li {
  position: relative;
  padding: 10px 20px;
  border-top: 1px solid;
}
.usernamesAndSizes li.hasVoted {
  background-color: lightgreen;
}
.usernamesAndSizes li:last-child {
  border-bottom: 1px solid;
}
.usernamesAndSizes li.header {
  color: grey;
  border-top: none;
}
.usernamesAndSizes button {
  display: none;
  position: absolute;
  top: 8px;
  right: 10px;
  background-color: lightgrey;
  padding: 3px 5px;
}
.admin .usernamesAndSizes button {
  display: block;
}
.usernamesAndSizes li > span {
  display: inline-block;
  width: 40%;
}
.usernamesAndSizes li > span:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  margin-right: 15px;
}
.usernamesAndSizes li > span.connected:before {
  background-color: green;
}
.usernamesAndSizes li > span.disconnected:before {
  background-color: red;
}
.buttonsRow {
  display: flex;
  justify-content: right;
}
.toggleEstimates,
.deleteEstimates,
.mostVotedEstimates {
  background-color: black;
  color: white;
  margin: 10px 0;
  margin-left: 20px;
}
.toggleEstimates,
.deleteEstimates {
  display: none;
}
.admin .toggleEstimates,
.admin .deleteEstimates {
  display: block;
}
.hiddenEstimates .hideEstimates {
  display: none;
}
.hiddenEstimates .estimate {
  display: none;
}
.shownEstimates .showEstimates {
  display: none;
}
.shownEstimates .hiddenEstimate {
  display: none;
}
.mostVotedPanel {
  text-align: center;
  height: 70px;
}
.mostVotedPanel span {
  display: block;
  font-size: 30px;
  height: 70px;
}
